---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":null,"card_number":"4242424242424242","expiration_year":"2023","expiration_month":"10","zip_code":"78216","cvv":"123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token 18872fe8199db7ad04e6b9e0425a3c
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":null,"success":false,"error_code":1000006}'
  recorded_at: Sun, 23 Feb 2020 23:34:59 GMT
recorded_with: VCR 5.1.0
