---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":1999,"card_number":"4242424242424242","expiration_year":"2023","expiration_month":"01","zip_code":"54321","cvv":"123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token tok
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a935ef9f7fa847450036b0e94a15eef"
    body:
      encoding: UTF-8
      string: '{"token":"807beb70c828c823ea6c2fc4d29b9c","success":true,"error_code":null}'
  recorded_at: Mon, 24 Feb 2020 17:08:54 GMT
recorded_with: VCR 5.1.0
