---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"1000","card_number":"4242424242424242","expiration_year":"2023","expiration_month":"10","zip_code":"78216","cvv":"123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token 18872fe8199db7ad04e6b9e0425a3c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb759598ae84eaec8d04c32e37107ef2"
    body:
      encoding: UTF-8
      string: '{"token":"a68be38ed2195e10fbe174ff475bb9","success":true,"error_code":null}'
  recorded_at: Sun, 23 Feb 2020 22:56:38 GMT
recorded_with: VCR 5.1.0
